/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 27px;
$mainFont: 'Arial',
'Source Sans Pro',
Helvetica,
sans-serif;
$headingFont: 'Arial Narrow',
'Source Sans Pro',
Helvetica,
sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #469BC0;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.22em;
$heading2Size: 1.63em;
$heading3Size: 1.19em;
$heading4Size: 1.0em;

section.has-dark-background {

	&,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal.has-dark-background {
	.footer {
		color: rgba(255, 255, 255, .9);
	}
}

.reveal {
	.colored {
		color: $linkColor;
	}

	.slides {
		text-align: left;
		display: flex;
		justify-content: center;

		section {
			flex-direction: column;
		}

		.cover {
			align-self: center;

			img {
				max-height: 8em;
				margin: -1.5em -1.8em;
			}

			h2 {
				color: $linkColor;
				background-color: white;
			}

		}

		.chapter {
			height: 100%;
			justify-content: center;

			h1:before {
				content: attr(data-chapter) ". ";
				display: 'inline-block';
				color: $linkColor;
				margin-right: 0.5em;
			}
		}
	}
}